body {
	background-color: #1f1f1f;
}

.container {
	max-width: auto;
	margin: auto;

}


@media (min-width: 700px) {
	.promo_wrapper {
		display: grid;
		grid-template-columns: auto auto;
		justify-content: center;
	}

	.promo_item {
		height: 100px;
		width: 350px;
		margin: 10px;
		border-radius: 30px;
	}

}

@media (min-width: 1050px) {
	.promo_wrapper {
		display: grid;
		grid-template-columns: auto auto auto;
		justify-content: center;
	}

	.promo_item {
		height: 100px;
		width: 350px;
		margin: 10px;
		border-radius: 30px;
	}
}



.promo_teleram {
	background-color: #197baf;
}


.promo_instagram {
	background-image: linear-gradient(to bottom right, #503ab4, #C13584, #e1303f);
}

.promo_TikTok {
	background-color: #000000;
}

.username_blue {
	color: #197baf;
	font-family: roboto;
	margin-top: -65px;
	margin-left: 80px;
	font-size: 55px;
}

.username_red {
	color: #ff3a5b;
	font-family: roboto;
	margin-top: -118px;
	margin-left: 83px;
	font-size: 55px;
}

.username_white {
	color: #e6e6e6;
	font-family: roboto;
	margin-top: -123px;
	margin-left: 82px;
	font-size: 55px;
}

.promo_Discord {
	background-color: #7289DA;
}

.promo_Steam {
	background-image: linear-gradient(to bottom, #1a2b52, #39678b, #66c0f4);
	/* background-color: #2a475e; */

}

.promo_github {
	background-color: #353535;
}


.promo_img img {
	margin-left: 15px;
	margin-top: 15px;
	width: 60px;

}

.username {
	font-family: roboto;
	margin-top: -70px;
	margin-left: 90px;
	font-size: 40px;

}


@media (max-width: 700px) {

	.username_blue {
		color: #197baf;
		font-family: roboto;
		margin-top: -65px;
		margin-left: 90px;
		font-size: 55px;
	}

	.username_red {
		color: #ff3a5b;
		font-family: roboto;
		margin-top: -117px;
		margin-left: 94px;
		font-size: 55px;
	}

	.username_white {
		color: #e6e6e6;
		font-family: roboto;
		margin-top: -121px;
		margin-left: 92px;
		font-size: 55px;
	}

	.promo_wrapper {
		flex-direction: column;
		/* padding-top: 50%; */

	}

	.promo_item {
		height: 100px;
		min-width: 380px;
		width: auto;
		border-radius: 30px;
		margin: 10px;
	}


	.promo_teleram {
		background-color: #197baf;
	}


	.promo_instagram {
		background-image: linear-gradient(to bottom right, #503ab4, #C13584, #e1303f);
	}

	.promo_TikTok {
		background-color: #000000;
	}
	
	.promo_Discord {
		background-color: #7289DA;
	}

	.promo_Steam {
		background-image: linear-gradient(to bottom, #1a2b52, #39678b, #66c0f4);
	}

	.promo_github {
		background-color: #353535;
	}


	.promo_img img {
		margin-left: 15px;
		margin-top: 15px;
		width: 60px;

	}

	.username {
		font-family: roboto;
		margin-top: -65px;
		margin-left: 90px;
		font-size: 55px;

	}


}